.header{
  display: flex;
  gap: 3rem;
  margin:3rem auto;
  width: 90%;
  max-width: 75rem;
}



.slideshow{
  width: 35rem;
  height: 20rem;
}

.title_wrap h1{
  
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_wrap p{
  font-size: 20px;
  margin: 20px 0px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-clip: text;
}

.link_wrap{
 margin-top: 40px;
}

.link1{
  padding-right: 30px;
  text-decoration: none;
  color: #db7f20;
}

.link2{
  border: 1px solid #db7f20 ;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  border-radius: 8px;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff;
}
