.main {
   background-image: linear-gradient(90deg, #4a322b, #943c17);
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center ;
}

li{
list-style-type: none;
}

.link{
    text-decoration: none;
    color: white;
    padding: 0 1px;
}

.topbar p{
    padding: 0 30px;
    font-size: 20px;
}

.logo_img{
    margin: 10px 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px #2222224b;
}